<!DOCTYPE html>
<html>
  <head>
    <title>Social Sharing App</title>
    <link rel="shortcut icon" href="" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="row">
      <div class="col-xs-2 col-md-4">
        <p><a href="/people/">Back to News Feed</a></p>
        <p><a href="/people/<%= person.id %>">Back to Profile Page</a></p>
      </div>

      <div class="col-xs-8 col-md-4 center_column">
        <h2>Edit Your Profile</h2>
        <form method="post" action="/people/<%= person.id %>?_method=put">
          <p><label for="first_name">First Name</label></p>
          <p><input type="text" name="firstname" id="first_name" placeholder="First Name" value=<%= person.firstname %>></p>

          <p><label for="last_name">Last Name</label></p>
          <p><input type="text" name="lastname" id="last_name" placeholder="Last Name" value=<%= person.lastname %>></p>

          <p><label for="profile_photo">Profile Photo</label></p>
          <p><textarea name="icon" id="profile_photo" placeholder="Link to your profile photo"><%= person.icon %></textarea></p>

          <p><label for="facebook_url">Facebook Profile</label></p>
          <p><input type="text" name="facebook" id="facebook_url" placeholder="Link to your Facebook page" <% if (person.facebook && person.facebook !== "null") { %> value=<%= person.facebook %> <% } %>></p>

          <p><label for="twitter_url">Twitter Profile</label></p>
          <p><input type="text" name="twitter" id="twitter_url" placeholder="Link to your Twitter page" <% if (person.twitter && person.twitter !== "null") { %> value=<%= person.twitter %> <% } %>></p>

          <p><label for="status_update">Status Update</label></p>
          <p><textarea name="message" id="status_update" placeholder="Update your status"><%= person.message %></textarea></p>
          
          <input type="submit" id="edit_profile" value="Save Your Profile">
        </form>

        <h3>Delete Your Profile</h3>
        <form method="post" action="/people/<%= person.id %>?_method=delete">
          <button>Delete</button>
        </form>
      </div>

      <div class="col-xs-2 col-md-4"></div>
    </div>   
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>




