<!DOCTYPE html>
<html>
  <head>
    <title>Social Sharing App</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="row">
      <div class="col-xs-2 col-md-4"></div>
      
      <div class="col-xs-8 col-md-4 center_column">
        <div id="circle_image"><img id="profile_image" src="<%= person.icon %>" ></div>
        <hr>

        <h3>Profile Details</h3>
        <p><strong>Full Name:</strong> <%= person.firstname %> <%= person.lastname %></p>
        <p><strong>Recent Status Update:</strong> <em><%= person.message %></em></p>
        
        <div id="social_links"><% if (person.facebook && person.facebook !== "null") { %>
          <a href="<%= person.facebook %>" target="blank"><img src="/images/facebook_icon.gif" ></a>
        <% } %> 
        <% if (person.twitter && person.twitter !== "null") { %> 
          <a href="<%= person.twitter %>" target="blank"><img src="/images/twitter_icon.gif" ></a>
        <% } %></div>
        
        <a href="/people/<%= person.id %>/edit" class="btn btn-default" id="edit_button" role="button">Edit Profile</a>
      </div>

      <div class="col-xs-2 col-md-4">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-th-large"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-5" href="/people">News Feed</a>
            <li role="presentation"><a role="menuitem" tabindex="-5" href="/people/new">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>
  </body>
</html>




